
.App {
  text-align: center;
}

.App h1 {
  font-size: 4rem;
  color: rgba(255, 224, 4, 1);
  font-family: 'Gorditas', cursive;
  text-shadow: 2px 2px #089494;
}

.App-header {
  background-color: #35D8D0;
  height: 120px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App h4 {
  font-family: 'Lato', sans-serif;
}

.App p {
  font-family: 'Lato', sans-serif;
}
